# --- 1. Python 基础 ---
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.venv/
venv/
ENV/

# --- 2. 打包与IDE ---
dist/
build/
*.spec
*.exe
.vscode/
.idea/
.codebuddy/

# --- 3. 用户数据 (隐私绝对不能传) ---
user_data/
log/

# --- 4. 资源文件控制 (重点) ---
# 忽略所有模型文件 (太大了)
assets/models/**/*.onnx
assets/models/**/*.bin
assets/models/**/*.safetensors
assets/models/**/pytorch_model.bin

# 忽略临时解压或缓存
assets/models/**/._____temp/
assets/models/**/__pycache__/
